#create {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #party-name-input {
    width: 10em;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
} */

#code {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#party-name-input {
    width: 100%;
    padding: 20px 40px;
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    border-radius: 4px 4px;
    font-size: 24px;
    text-align: center;
}
#party-host-input {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px 4px;
    font-size: 12px;
    text-align: center;
}

#code-input {
    width: 10em;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.start-button {
    text-decoration: none;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;
    width: 12em;
    margin-bottom: 10px;
    
    color: black;
    background: none;
}

.start-button:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 255, .5);
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}